In [4]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import mplcyberpunk

plt.style.use('cyberpunk')

In [6]:
flight_data = pd.read_csv('~/JProjects/kaggle cources/data/flight_delays.csv', index_col='Month')
flight_data

,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
Month,,,,,,,,,,,,,,
1,6.955843,-0.320888,7.347281,-2.043847,8.537497,18.357238,3.512640,18.164974,11.398054,10.889894,6.352729,3.107457,1.420702,3.389466
2,7.530204,-0.782923,18.657673,5.614745,10.417236,27.424179,6.029967,21.301627,16.474466,9.588895,7.260662,7.114455,7.784410,3.501363
3,6.693587,-0.544731,10.741317,2.077965,6.730101,20.074855,3.468383,11.018418,10.039118,3.181693,4.892212,3.330787,5.348207,3.263341
4,4.931778,-3.009003,2.780105,0.083343,4.821253,12.640440,0.011022,5.131228,8.766224,3.223796,4.376092,2.660290,0.995507,2.996399
5,5.173878,-1.716398,-0.709019,0.149333,7.724290,13.007554,0.826426,5.466790,22.397347,4.141162,6.827695,0.681605,7.102021,5.680777
6,8.191017,-0.220621,5.047155,4.419594,13.952793,19.712951,0.882786,9.639323,35.561501,8.338477,16.932663,5.766296,5.779415,10.743462
7,3.870440,0.377408,5.841454,1.204862,6.926421,14.464543,2.001586,3.980289,14.352382,6.790333,10.262551,NaN,7.135773,10.504942
8,3.193907,2.503899,9.280950,0.653114,5.154422,9.175737,7.448029,1.896565,20.519018,5.606689,5.014041,NaN,5.106221,5.532108
9,-1.432732,-1.813800,3.539154,-3.703377,0.851062,0.978460,3.696915,-2.167268,8.000101,1.530896,-1.794265,NaN,0.070998,-1.336260
10,-0.580930,-2.993617,3.676787,-5.011516,2.303760,0.082127,0.467074,-3.735054,6.810736,1.750897,-2.456542,NaN,2.254278,-0.688851
11,0.772630,-1.916516,1.418299,-3.175414,4.415930,11.164527,-2.719894,0.220061,7.543881,4.925548,0.281064,NaN,0.116370,0.995684
12,4.149684,-1.846681,13.839290,2.504595,6.685176,9.346221,-1.706475,0.662486,12.733123,10.947612,7.012079,NaN,13.498720,6.720893

## Line Charts

In [ ]:
plt.figure(figsize=(10, 5))

sns.lineplot(data=flight_data['AA'], label='AA')
sns.lineplot(data=flight_data['AS'], label='AS')

plt.ylabel('AA & AS')

In [ ]:
plt.figure(figsize=(12, 10))


for col in flight_data.columns:
    sns.lineplot(data=flight_data[col], label=col)

plt.ylabel('All Airlines')
plt.grid(True)

## Bar Charts

In [ ]:
plt.figure(figsize=(12, 5))

plt.title('Average Arrival Delay for American Airlines Flights, by Month')

sns.barplot(x=flight_data.index, y=flight_data['AA']) # flight_data['Month'] causes an error because we've used this column as index

plt.xlabel('Month')
plt.ylabel('Delay in minutes')

## Heatmap

In [ ]:
plt.figure(figsize=(12, 5))

plt.title('Average Arrival Delay for each Airline, by Month')

sns.heatmap(data=flight_data, annot=True)

plt.xlabel('Delay in minutes')
plt.ylabel('Month')

## Scatter Plot

In [ ]:
insurance_data = pd.read_csv('~\\JProjects\\kaggle\\data\\insurance.csv')
insurance_data.head()

In [ ]:
plt.figure(figsize=(12, 6))
sns.scatterplot(x=insurance_data.bmi, y=insurance_data.charges)

## Regression Line

In [ ]:
plt.figure(figsize=(12, 6))
sns.regplot(x=insurance_data.bmi, y=insurance_data.charges, line_kws={'color': 'red'})

## Color-coded scatter plots & lmplot

For instance, to understand how smoking affects the relationship between BMI and insurance costs,
we can color-code the points by **smoker**, and plot the other two columns ('bmi', 'charges') on the axes.

In [ ]:
plt.figure(figsize=(12, 6))
sns.scatterplot(x=insurance_data['bmi'], y=insurance_data['charges'], hue=insurance_data.smoker)

This scatter plot shows that while nonsmokers to tend to pay slightly more with increasing BMI, smokers pay **MUCH** more.

To further emphasize this fact, we can use the ***sns.lmplot*** command to add two regression lines, corresponding to smokers and nonsmokers. (You'll notice that the regression line for smokers has a much steeper slope, relative to the line for nonsmokers!)

In [ ]:
plt.figure(figsize=(12, 6))
sns.lmplot(x="bmi", y="charges", hue="smoker", data=insurance_data)

## Categorical scatter plot or swarmplot

In [ ]:
sns.swarmplot(x=insurance_data['smoker'], y=insurance_data['charges'])

Among other things, this plot shows us that:
- on average, non-smokers are charged less than smokers, and
- the customers who pay the most are smokers; whereas the customers who pay the least are non-smokers.